@use 'sass:color';
@use './colors' as *;

.button {
  $background_color: grey;
  $text_color: color.adjust(orange, $lightness: 5%);

  background-color: color.adjust($background_color, $lightness: -5%);
  border: 2px solid color.adjust($background_color, $lightness: -25%);
  text-shadow: 1px 1px 0 #000;
  outline: none;
  cursor: pointer;
  padding: 1px 6px 0 6px;
  color: $text_color;
  margin: 0;
  font-size: 15px;
  font-family: 'UIFont', serif;
}
